{% extends "layout.html" %}
{% block content %}
<h2>posts by month</h2>

<ul>
    {% for month in months %}
    <li>
        <a href="/month/{{ month.year }}/{{ month.month_month }}">
            {{ month.month }}
        </a>
        ({{ month.count }})
    </li>
    {% endfor %}
</ul>

<h2>posts by tag</h2>

<ul>
    {% for tag in tags %}
    <li>
        <a href="/tagged/{{ tag[0] }}">
            {{ tag[0] }}
        </a>
        ({{ tag.count }})
    </li>
    {% endfor %}
</ul>
{% endblock %}
